
header {

  border-bottom: 1px solid black;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  text-align: left;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease;
  
}

.header > .container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Logo / Heading */

.logo {
  flex-grow: 1;
  padding: 0 15px;
}

.logo h1 {
  margin: 0;
  line-height: 0;
  font-weight: normal;
}

.logo a {
  display: inline-block;
}

.logo a > span {
  line-height: 1;
}

/* Navigation */

.menu .menu-item {
  color: var(--color-foreground);
  display: block;
  padding: 15px 5px;
  cursor: pointer;
}

.submenu .menu-item {
  padding-left: 15px;
}

/* Utility links  */

.utility-links {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.utility-links a {
  margin-left: 5px;
}
